spotify-analytics/spotify-analytics/.gitignore
# ignore private data

spotify-analytics/spotify-analytics/dependencies
# ignore dependency venv

spotify-analytics/spotify-analytics/spotify_apitest.py
# ignore private data