spotify-analytics/spotify-analytics/.env
spotify-analytics/spotify-analytics/.gitignore
# ignore private data

spotify-analytics/spotify-analytics/dependencies
# ignore dependency venv

spotify-analytics/spotify-analytics/dependencies/spotify_apitest.py
# test cases for making sure code works before we deploy it to github